body {
	background-image: url("bg_img.jpg");
	background-repeat: no-repeat;
	background-color: #fcf9d0;
	background-width: 100%;
}

@font-face {
  font-family: lobster;
  src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: hand;
  src: url('../fonts/DeliciousHandrawn-Regular.ttf');
}

@font-face {
  font-family: raleway;
  src: url('../fonts/Raleway.ttf');
}

h1.BigHeader1 {
	font-family: lobster;
	font-size: 120px;	
	color: #E63946;
	margin: 0 0 0 120px;
	padding: 90px 0 0 0;
}

h1.BigHeader2 {
	font-family: lobster;
	font-size: 120px;	
	color: #E63946;
	padding: 0;
	margin: -70px 0 0 130px;
}

h2.Header {
	font-family: raleway;
	font-size: 40px;
	margin: -30px 0 0 40px;
	color: #1D3557;
	float: left;
	position: relative;
	text-align: center;
}

div#dates {
	padding: 70px 0 0 0;
	margin: 0 20px 0 0;
	color: #1D3557;
	position: fixed;
	right: 5%;
	z-index: 1;
}

div#dates1 {
	text-align: center;
	font-family: raleway;
	float: right;
	position: relative;
}

div#slash {
	text-align: center;
	font-family: lobster;
	color: #F1FAEE;
	float: right;
	position: relative;
	margin: 15px -25px 0 0;
	z-index: 1;
}

div#dates2 {
	text-align: center;
	font-family: raleway;
	float: right;
	position: relative;
}


div#dates1 h1.Month {
	padding: 0;
	margin: -30px 0;
	font-size: 73px;
}

div#dates1 h3.Days {
	padding: 0;
	margin: -51px 0 0 0;
	font-size: 125px;
}

div#dates1 h1.Days {
	font-size: 26px;
	padding: 0;
	margin: 0;
}

div#dates2 h1.Month {
	padding: 0;
	margin: -52px 0;
	font-size: 73px;
}

div#dates2 h3.Days {
	padding: 0;
	margin: -64px 0 0 0;
	font-size: 155px;
}

div#dates2 h1.Days {
	font-size: 26px;
	padding: 0;
	margin: 0;
}

div#slash h3 {
	font-size: 100px;
	padding: 0;
	margin: 0;
}

html, body {
	margin: 0;
	padding: 0;
}

p {
	padding: 0 10px;
	line-height: 1.8;
}

ul li {
	padding-right: 10px;
	line-height: 1.6;
}

h3 {
	padding: 5px 20px;
	margin: 0;
}

div#header {
	position: relative;
}

div#header a {
	position: absolute;
	right: 0;
	top: 23px;
	padding: 10px;
	color: #006;
}

div#navigation {
	background: #1D3557;
	color: #A8DADC;
	margin: -90px 20px -50px 0;
	padding: 20px 0 20px 0;
	width: 350px;
	z-index: 1;
    	position: fixed;
	right: 5%;
	border-radius: 30px;
}

div#navigation a {
        color: #A8DADC;
	text-decoration: none;
	padding: 5px 15px 5px 30px;
	width: 100%;
	display: block;
}

div#navigation a:hover {
        background-color: #A8DADC;	
	color: #1D3557;
	text-decoration: none;
}

div#navigation ul {
	padding: 0;
	margin: 30px 0 0 0;
}

div#navigation li {
        list-style: none;
	font-size: 23px;
	font-family: lobster;
	padding: 0;
	margin: 0 0 0 -15px;
}

div#container {
	width: 90%;
	min-width: 800px;
	margin: 0 auto;
	padding: 0 0 0 2%;
}

div#wrapper {
	margin: 50px 0 10px 0;
	width: 95%;
	min-width: 800px;
}

div#content {		
	padding: 30px 20% 50px 30px;
	width: auto;
	font-family: raleway;
	font-size: 20px;
	color: #1D3557;
}	

div#content h2 {
	font-size: 30px;
	padding: 0 0 10px 0;
}

div#content p {
	font-family: raleway;
	font-size: 20px;
	margin: 0;
}


div#content h4 {
	font-family: raleway;
	font-size: 20px;
	padding: 10px;
}

div#navigation ul {
	margin: 0;
	padding: 15px;
	overflow: hidden;
}

div#extra {
	float: left;
	clear: left;
	width: 300px;
}	

div#footer {
	clear: both;
	width: 100%;
}

div.section {
	background-color: rgba(255,255,255,0.6);
	padding: 30px 15% 30px 30px;
	margin: 0 0 50px 0;
}

div.section h2{
	text-align:center;
}

div#Organization {
	height: auto;
	overflow: auto;
}

div#Organization ul {
	list-style-type: none;
}

div#Organization li {
	float: left;
	text-align: center;
	display: block;
	padding: 15px;
	background: #FFF;
	margin: 25px;
	font-size: 20px;
	box-shadow: 10px 10px 8px  rgba(0, 0, 0, 0.2);
	font-family: hand;
}

div#Organization img {
        display: block;
        width: 118px;
	margin: 0 0 15px 0;
}

div#Programme ul {
	list-style-type: none;
}


div.speaker {
	text-align: center;
	display: block;
	padding: 15px;
	background: #FFF;
	margin: 25px;
	font-size: 20px;
	box-shadow: 10px 10px 8px  rgba(0, 0, 0, 0.2);
	font-family: hand;
	width: 200px;
}

div#Programme img {
        display: block;
        width: 200px;
	margin: 0 0 15px 0;
	float: left;
}

div.SpeakerProfile {
	float: left;
	margin: -350px 0 0 300px;
}
